<h1>Search for '<%= params[:q] %>' in Transaction</h1>

<% if @product.nil? %>

  <p>Nothing is found.</p>

<% else %>

  <p>Barcode: <%= @product.barcode %></p>
  <p>Sold: <%= number_with_delimiter @product.quantity %></p>
  <p>Price: <%= number_to_currency @product.price %></p>

<% end %>
