<h1>Search for '<%= @query %>' in Transaction</h1>

<% if @product.nil? %>

  <p>Nothing is found.</p>

<% else %>

  <p>Name: <%= @product.name %> </p>
  <p>Quantity: <%= @product.quantity %></p>
  <p>Price: <%= @product.price %></p>

<% end %>
