<h1>Editing Review</h1>
<hr>

<div class="row">
  <div class="col-sm-6">
    <%= render partial: "form", locals: { comment: @comment } %>
  </div>
  <div class="col-sm-6">
    <%= render partial: "products/product_sidebar_thumbnail", object: @comment.product, as: "product" %>
  </div>
</div>

<%= link_to 'Back', url_for(:back) %>
