<% if can? :view, Comment %>
  <h1>Reviews</h1>
  <%= display_filters(@filters, @filter) %>
<% else %>
  <h1>Your Reviews</h1>
<% end %>

<hr>

<% if @comments.empty? %>
  <p class="lead text-muted">No Reviews yet.</p>
<% else %>
  <%= render partial: "comments/comment_thumbnail", collection: @comments, as: "comment" %>
<% end %>

<%= will_paginate @comments %>
