<tr>
  <th>Store</th>
  <td><%= store.name %></td>
  <% if stock.nil? %>
    <th colspan="6">No Stock in Shop</th>
  <% else %>
    <th>Current Stocks</th>
    <td><%= stock.quantity %></td>
    <th>Minimum Stocks</th>
    <td><%= stock.minimum %></td>
    <td colspan="2"></td>
  <% end %>
</tr>
