<% unless @product.nil? %>
  <h2>Product Infomation</h2>
  <p>Name: <%= @product.name %>
  <p>Barcode: <%= @product.id %>
  <p>Current Price: <%= number_to_currency @product.daily_price %></p>
  <p>Available Stock: <%= @product.available_stock %></p>
<% end %>
