<h1>Editing stock</h1>

<%= link_to 'Show', @stock %> |
<%= link_to 'Back', stocks_path %>

<hr>

<div class="row">
  <div class="col-sm-6" id="stock-form">
    <h2>Stock</h2>
    <%= render 'form' %>
  </div>
  <div class="col-sm-6" id="stock-info">
    <%= render "stock_information" %>
  </div>
</div>
