<h1>Add a New Stock</h1>

<%= link_to 'Back', url_for(:back) %>

<hr>

<form method="get" action="<%= new_stock_path %>">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" name="product_id" placeholder="Find Product Id">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default">Find</button>
    </span>
  </div>
</form>

<% unless @stock.product_id.nil? %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form' %>
    </div>
    <div class="col-md-6">
      <%= render "stock_information" %>
    </div>
  </div>
<% end %>
