<form class="navbar-form navbar-right hidden-md hidden-sm">
  <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Login in</button>
</form>

<button type="button"
  class="btn btn-success navbar-btn navbar-right visible-md visible-sm">
  Login in</button>
