<h1>New Products</h1>

<% @new_products.in_groups_of(4) do |products| %>
<div class="row">
  <%= render partial: "products/product_thumbnail", collection: products, as: :product, locals: { type: "new-product-item" }  %>
</div>
<% end %>

<h1>Popular Products</h1>

<% @popular_products.in_groups_of(4) do |products| %>
<div class="row">
  <%= render partial: "products/product_thumbnail", collection: products, as: :product, locals: { type: "popular-product-item" }  %>
</div>
<% end %>

<%= will_paginate @popular_products %>
