<h1>New Products</h1>

<%=
  render partial: "products/products_thumbnail",
         locals: {
           products: @new_products,
           divider_num: 4,
           options: { type: "new-product-item" }
         }
%>

<h1>Popular Products</h1>

<%=
  render partial: "products/products_thumbnail",
         locals: {
           products: @popular_products,
           divider_num: 4,
           options: { type: "popular-product-item" }
         }
%>

<%= will_paginate @popular_products %>
