<h1>Search for '<%= @query %>'</h1>

<% if @products.empty? %>

  <p>Nothing is found.</p>

<% elsif @products.size == 1 %>

  <%= render @products.first %>

<% else %>

  <%= render partial: 'products/products', locals: { products: @products } %>

<% end %>
