<h1>Orders</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <%= render "orders/orders" %>
    <%= will_paginate @orders %>
  </div>
  <div class="col-md-6">
    <%= render "shop_orders/orders" %>
    <%= will_paginate @shop_orders %>
  </div>
</div>

