/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/*
 * import original bootstrap
 */
@import "twitter/bootstrap";

/*
 * custom css
 */
body {
  padding-top: 70px;
}

/*
 * home page css
 */
.product-item {
    h3 {
        height: 53px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/*
 * role specific
 */
.navbar-administrater,
.navbar-manager {
    @extend .navbar-inverse;
}

.navbar-customer,
.navbar-employee {
    @extend .navbar-default;
}

.glyphicon-administrater,
.glyphicon-manager {
    @extend .glyphicon-tower;
}

.glyphicon-customer,
.glyphicon-employee {
    @extend .glyphicon-user;
}

.panel-administrater {
    @extend .panel-success;
}
.panel-manager {
    @extend .panel-warning;
}
