// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-item {
    h3 {
        height: 53px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
