// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buy-cart {
    margin-top: 30px;
    margin-bottom: 30px;

    p {
        margin-top: 7px;
    }
}
