<%= simple_form_for(@category, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control'} }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :name %>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
