<h1>Products</h1>

<% if can? :manage, Product %>
  <%= link_to 'New Product', new_product_path %> |
  <%= link_to 'Perform Active Pricing', active_pricing_products_path, method: :post %>
<% end %>

<hr>

<%= render "products" %>

<%= will_paginate @products %>
