<%= render "shared/header" %>
<%= render "shared/menu" %>

<div class="container">
  <%= yield %>

  <hr>

  <footer>
    <p>ShopTwo &copy; 2013, CG3002 - Group 02</p>
  </footer>
</div>

<%= render "shared/footer" %>
